<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Odinbook</a>
  <% if user_signed_in? %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/posts">Feed <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/images">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts/new">New Text Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/images/new">New Image Post</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= "Hello, " + current_user.name %>
        </a>
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "View Profile", user_path(current_user.id), class:"dropdown-item" %>
          <%= link_to "Edit Profile", edit_user_registration_path, class:"dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete }, class:"dropdown-item" %>
        </div>
        <% end %>
      </li>
    </ul>
  </div>
</nav>