<div>
<h3> Pending followers </h3>
<% @pending_follows.each do |follow| %>
    <%= render partial: "pending_follow", locals: {follow: follow} %>
<% end %>


<h3> Declined followers </h3>
<% @declined_follows.each do |follow| %>
    <%= render partial: "approved_follow", locals: {follow: follow} %>
<% end %>
<h3> Followers </h3>
<% @approved_follows.each do |follow| %>
    <%= render partial: "approved_follow", locals: {follow: follow} %>
<% end %>
</div>

<div>
    <h3> Users </h3>
    <% @users.each do |user| %>
        <%= render partial: "user_to_follow", locals: {user: user} %>
    <% end %>
</div>
